NODE_ENV=development

DATABASE_URL=

# Can be 'fatal', 'error', 'warn', 'info', 'debug', 'trace' or 'silent' (https://getpino.io/#/docs/api?id=level-string)
LOG_LEVEL=info

PORT=3010

# Required to deploy Hono Server to Vercel (https://hono.dev/docs/getting-started/vercel)
NODEJS_HELPERS=0

# Resend API Key and email from. Used to send emails
RESEND_API_KEY=
RESEND_EMAIL_FROM="Meeting BaaS <noreply@notifications.meetingbaas.com>"

# Number of resend requests a user can make before cool down is applied
NUMBER_OF_RESENDS_ALLOWED=3

# Period for resending emails (in hours). This is used in conjunction with Number of resends allowed.
RESENDS_ALLOWED_PERIOD=24

# API Secret: When backend calls certain routes of this service, it needs to pass this API key in x-api-key header. 
# Generate: https://generate-secret.vercel.app/32
EMAIL_SERVICE_API_KEY=

## Shared environment variables
# While this is not a NextJS application, the name of the keys have been kept the same as other NextJS applications
# to reuse shared environment configurations

## Authentication app URL. 
NEXT_PUBLIC_AUTH_APP_URL=http://localhost:3002

# Meeting BaaS environment prefix for app URLs. For lower environments, it would be something like pre-prod-
# It should be empty for prod.
NEXT_PUBLIC_ENVIRONMENT=pre-prod-

# Meeting BaaS base domain for external app URLs (Without protocol or leading dot)
NEXT_PUBLIC_BASE_DOMAIN=meetingbaas.com

# Support email for email templates, e.g. support@meetingbaas.com
NEXT_PUBLIC_SUPPORT_EMAIL=support@meetingbaas.com

# Stripe API Key
STRIPE_API_KEY=

## Stripe Product IDs
# Token Packs
STRIPE_STARTER_PACK_PRODUCT_ID=
STRIPE_PRO_PACK_PRODUCT_ID=
STRIPE_BUSINESS_PACK_PRODUCT_ID=
STRIPE_ENTERPRISE_PACK_PRODUCT_ID=
