<!-- Content Section -->
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
    class="content-container">
    <tbody>
        <tr style="width:100%">
            <td>
                <p class="greeting-text">
                    Hi {{firstName}},
                </p>
                <div class="main-content">
                    {{{mainContent}}}
                </div>
            </td>
        </tr>
    </tbody>
</table>

<!-- Call to Action Section -->
<table align="center" width="100%" class="cta-container" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tbody>
        <tr style="width:100%">
            <td>
                {{{ctaButton}}}
            </td>
        </tr>
    </tbody>
</table>