<!-- Footer Section -->
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
  class="footer-container">
  <tbody>
    <tr style="width:100%">
      <td>
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" width="50%" valign="top">
              <p class="footer-column-title">
                SAS SPOKE
              </p>
              <p class="footer-column">
                35 rue Pauline Borghese<br />92200 Neuilly sur
                Seine<br />FRANCE
              </p>
            </td>
            <td align="center" width="50%" valign="top" style="text-align: center">
              <p class="footer-column">
                SIREN: 883 755 654<br />SIRET: 883 755 654 00026<br />N°
                TVA: FR21883755654<br />NAF: 5829A
              </p>
            </td>
          </tr>
        </table>
        <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
          style="text-align:center;margin-top:1rem;max-width:37.5em">
          <tbody>
            <tr style="width:100%">
              <td>
                <p class="footer-contact">Questions? Contact us at
                  <a href="mailto:{{supportEmail}}" target="_blank">{{supportEmail}}</a>
                </p>
                {{#if systemMessage}}
                <p class="footer-system-message">{{systemMessage}}</p>
                {{/if}}
                {{#unless hideUnsubscribeLink}}
                <p class="footer-unsubscribe"> Is this email not relevant to you? <a href="{{unsubscribeLink}}"
                    target="_blank">Unsubscribe</a>
                </p>
                {{/unless}}
              </td>
            </tr>
          </tbody>
        </table>
        <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
          class="footer-bottom">
          <tbody>
            <tr style="width:100%">
              <td>
                <p class="footer-copyright">© {{year}} SAS SPOKE. All rights reserved.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>