<!-- Footer Section -->
<table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
  style="margin-top:1rem;max-width:37.5em">
  <tbody>
    <tr style="width:100%">
      <td>
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" width="50%" valign="top">
              <p style="
                  padding: 0px;
                  margin: 0px;
                  font-weight: 600;
                  color: rgb(90, 90, 90);
                  font-size: 14px;
                  line-height: 24px;
                ">
                SAS SPOKE
              </p>
              <p style="
                  padding: 0px;
                  margin: 0px;
                  color: rgb(90, 90, 90);
                  font-size: 14px;
                  line-height: 24px;
                ">
                35 rue Pauline Borghese<br />92200 Neuilly sur
                Seine<br />FRANCE
              </p>
            </td>
            <td align="center" width="50%" valign="top" style="text-align: center">
              <p style="
                  padding: 0px;
                  margin: 0px;
                  color: rgb(90, 90, 90);
                  font-size: 14px;
                  line-height: 24px;
                ">
                SIREN: 883 755 654<br />SIRET: 883 755 654 00026<br />N°
                TVA: FR21883755654<br />NAF: 5829A
              </p>
            </td>
          </tr>
        </table>
        <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
          style="text-align:center;margin-top:1rem;max-width:37.5em">
          <tbody>
            <tr style="width:100%">
              <td>
                <p style="font-size:14px;color:rgb(185,181,181);line-height:24px;margin:16px 0">Questions? Contact us at
                  <a href="mailto:{{supportEmail}}" class="hover:text-primary-700"
                    style="color:rgb(120,255,240);text-decoration-line:none" target="_blank">{{supportEmail}}</a>
                </p>
                <a href="{{unsubscribeLink}}" class="hover:text-neutral-200"
                  style="font-size:14px;color:rgb(90,90,90);display:block;margin-bottom:0.5rem;text-decoration-line:none"
                  target="_blank">Unsubscribe from these emails</a>
              </td>
            </tr>
          </tbody>
        </table>
        <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
          style="padding:0.5rem;border-bottom-right-radius:0.5rem;border-bottom-left-radius:0.5rem;max-width:37.5em">
          <tbody>
            <tr style="width:100%">
              <td>
                <p style="font-size:14px;color:rgb(90,90,90);text-align:center;line-height:24px;margin:16px 0">©
                  {{year}} SAS SPOKE. All rights reserved.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>